#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary-white: #F5F5F7;
  --color-primary-black: #1D1D1F;
  --color-soft-gray: #D2D2D7;
  --color-accent-blue: #0071E3;
}